.address {
  margin:0;
}

.doctor {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.doctor-img {
  width: 30%;
}

.actual-doctor-img {
  width: 100%;
  max-width: 200px;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.options {
  background-color: rgba(0, 0, 255, 0.3);
  padding-bottom: 30px;
  margin-bottom: 0;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}
